*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}
:root{
    font-size: 0.875rem;
}
body{
    background-color: rgba(128, 128, 128, 0.164);
    width: 100%;

}
.contenedor {
    background-color: white;
    margin: 25% auto;
    width: 50%;
    height: 50%;
    }
img{
    width: 100%;
}
h3{
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: normal;
    padding: 1rem;
}
h2{
    padding: 1rem;
}
p{
    padding: 1rem;
    font-size: 1.3rem;
    color: rgb(10, 157, 32);
}
button{
    background-color: rgb(35, 142, 214);
    color: white;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-size: 1.2rem;
    
}
.item{
    margin: auto 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}